################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
# Visual Studio
.vs/

# Build output
**/bin/
**/obj/

# Publish output
**/publish/